.wrapper {
    position: relative;
}

.header {
    border-radius: 8px;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #079AA2;
    border: #079AA2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header .logo {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
}


.body {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 10px);
    right: 0%;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;

    z-index: 1000;
}