.hotelCard {
    display: flex;
    justify-content: stretch;
    min-height: 240px;
    max-height: 240px;
    padding: 0;
    border-radius: 0.5rem;
}

.hotelCard:hover {
    box-shadow: 0 4px 6px rgba(17, 38, 146, 0.15);
}

.info {
    flex: 60% 0 0;
    display: flex;
    flex-direction: column;
    max-width: 60%;
    align-items: stretch;
    justify-content: space-between;
    gap: 0.5rem;
    padding-bottom: 0.8rem;
}

.hotelTitle {
    font-size: 1.2rem;
    font-weight: 600;
    color: #5d73e1;
    padding: 0.8rem;
    border-bottom: 1px solid #e7edf4;
}

.hotelRoom {
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: stretch;
    overflow: auto;
    width: 100%;
}

.roomTitle {
    background-color: #f8f8f8;
    font-weight: 500;
    color: #292f37;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.actions {
    display: flex;
    justify-content: flex-end;
    padding: 0.8rem;
}

.imagesContainer {
    flex: 40% 0 0;
    width: 40%;
    min-height: 180px;
}

.imagesContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem 0 0 0.5rem;
}