.myButton {
    padding: 0.625rem 1.5rem 0.625rem 1.5rem;
    border-radius: 0.2rem;
    background: #5d73e1;
    border: none;
    cursor: pointer;
    color: white;
    display: block;
    text-decoration: none;
    font-weight: 500;
}

.myButton.success {
    background-color: #1AA053;
}

.myButton.error {
    background-color: #E15D5D;
}


.myButton.primary {
    background-color: #5d73e1;
}


.myButton.secondary {
    background-color: #fff;
    color: #5d73e1;
}


.myButton:hover {
    opacity: 0.8;
    transition: 0.2s ease-in-out all;
}

.myButton:disabled {
    opacity: 0.5;
    background-color: #adb5bd;
    cursor: not-allowed;
    color: #fff;
}

.myButton.secondary:disabled {
    opacity: 0.5;
    background-color: #fff;
    color: #5d73e1;
}

.myButton:disabled:hover {
    opacity: 0.5;
}