.reservationCard {
    display: flex;
    gap: 1rem;
    border: 1px solid #079AA2;
    padding: 1rem;
    border-radius: 0.5rem;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.imagesContainer {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.imagesContainer .image {
    border-radius: 0.5rem;
    width: 200px;
    height: 153px;
    position: relative;
    background: #adb5bd;
    color: #dee2e6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagesContainer img {
    width: 100%;
    height: 100%;
}