.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dateGroup {
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    gap: 1rem;
    /* flex-wrap: nowrap; */
}

.dateWrapper {
    display: flex;
    gap: 1rem;
}

.button {
    margin-top: auto;
    margin-left: auto;
}